.card {
  /* width: 100%; */
  padding: 4rem;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
}

.card h1 {
  color: #333;
  /* margin-bottom: 20px; */
  text-align: center;
}

.userInfo {
  text-align: center;
  margin: 2rem 0;
  padding: 2rem;
  background: #f5f5f5;
  box-shadow: none;
}

.userInfo h2 {
  color: var(--primary);
  margin: 0;
  font-size: 1.5rem;
}

.userInfo p {
  color: #666;
  margin: 1rem 0 0 0;
}

.content {
  margin: 3rem 0;
  padding: 2rem;
  background: #f9f9f9;
  border-left: 0.4rem solid var(--primary);
}

@media (max-width: 750px) {
  html {
    font-size: 52%;
  }

  .card {
    padding: 1.5rem;
    margin: 1.5rem auto;
  }
}
