.main-header {
  position: fixed;
  top: 0;
  right: 0;
  /* left: 4rem; */
  left: 0;
  z-index: 16;
  /* background: var(--bg-color2);  saturate(180%)*/
  background: var(--header-color);

  -webkit-backdrop-filter: blur(0.8rem);
  backdrop-filter: blur(0.8rem);
  /* border-bottom: 0.1rem solid #eee; */
  padding: 1rem 9%;
  /* padding: 2rem 2rem; */
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.192);
  transition: all 0.5s ease-in-out;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-right: 1.5rem; */
}

@media (max-width: 750px) {
  html {
    font-size: 52%;
  }

  .main-header {
    position: fixed;
    padding: 1rem 0;
  }

  .header_title{
    margin-left: 5.8rem;
  }
}

@media (max-width: 340px) {
  html {
    font-size: 50%;
  }
}
