/* .menu:hover {
  cursor: pointer;
  color: #f3cafb;
} */

svg {
  width: 2rem;
  height: 2rem;
  color: #fff;
}

/* ==========MENU==================== */
.menu__container {
  background: var(--nav-bg);
  /* position: absolute;
  z-index: 210; */
  z-index: 40;
  display: none;
  height: 3.4rem;
  width: 3.4rem;
  position: relative;
  border-radius: 0.5rem;

  /* margin-right: 2rem; */
}

/* .menu {
  height: 3.5rem;
  width: 3.5rem;
} */

.menu__container span {
  background:#cacaca;
  display: block;
  height: 0.25rem;
  width: 56%;
  border-radius: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease-in-out;
}

.menu__container:hover {
  cursor: pointer;
}

.menu__container:hover span {
  background: #fff;
}

.menu span:nth-child(1) {
  top: 28%;
}

.menu span:nth-child(2) {
  width: 50%;
}

.menu span:nth-child(3) {
  top: 70%;
}

.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.active span:nth-child(2) {
  display: none;
}

.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
/* =========================================== */

@media (max-width: 1024px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 53%;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 52%;
  }

  .menu__container {
    /* position: fixed; */
    display: block;
    /* background: var(--primary); */
    /* left: 1.2rem;
    top: 2rem;
     */
  }

  /* .menu__container:hover {
    background: #fff;
  } */
}

@media (max-width: 340px) {
  html {
    font-size: 50%;
  }

  /* .card__box__container {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      gap: 2rem;
      grid-row-gap: 3rem;
      padding: 0.5rem 0 20% 0rem;
    } */

  /* .card__box {
      padding: 4.2rem 1.6rem;
    } */
}

/* @media (max-width: 750px) {
  .menu__container {
    display: block;
  }
} */
