.card {
  background: var(--bg-color2);
  box-shadow: 0rem 0.2rem 1rem rgba(0, 0, 0, 0.25);
  /* box-shadow: 0 0.4rem 1.8rem 0 rgba(0, 0, 0, 0.25); */
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
}
