.loader_container {
  z-index: 10;
  /* background: rgba(0, 0, 0, 0.363); */
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%;
  height: 100vh; */
  position: fixed;
  /* -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem); */
  top: 40%;
  right: 50%;
  /* bottom: 50%; */
  transform: translate(-50% -50%);
  /* left: 50%; */
}

.loader_container .img {
  width: 7rem;
  position: absolute;
  /* bottom: 0.5rem; */
  background: var(--bg-color2);
  border-radius: 50%;
  z-index: 11;
}

.loader_container svg {
  width: 10rem;
  height: 10rem;
  /* background: #fff; */
  border-radius: 50%;
  color: var(--primary);
  z-index: 10;
}

@media (max-width: 750px) {
  html {
    font-size: 52%;
  }

  .loader_container {
    top: 45%;
    right: 40%;
    /* bottom: 50%; */
    transform: translate(-50% -50%);
  }
}
