.nav {
  /* background: var(--nav-bg); */
  /* -webkit-backdrop-filter: blur(0.4rem);
  backdrop-filter: blur(0.4rem); */
  /* background: #007aba; */
  /* position: fixed; */
  /* width: 8rem;
  height: 100vh; */
  /* top: 0; */
  /* bottom: 0; */
  transition: all 0.3s linear;
  overflow: hidden;
  /* z-index: 20; */
  /* border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem; */

  /* overflow-y: scroll; */
}

.nav .link_title {
  display: block;
  /* padding-right: 1.5rem; */
  color: #000;
  /* transition: all 0.5s ease-in-out; */
}

.nav.active .link_title {
  display: block;
}

/* .nav.active {
  width: 16.5rem;

  
} */

/* .nav:hover {
  width: 16.5rem;
  transition: all 0.5s ease-in-out;
} */

.nav ul {
  list-style: none;
  /* padding: 3rem 2rem 6.5rem 1.5rem; */
  /* transition: all 0.5s ease-in-out; */
  /* height: 100vh; */
  /* position: relative; */
}

.nav ul li {
  display: inline-block;
}

.menu {
  position: absolute;
  left: 1.5rem;
  top: 1.8rem;
  z-index: 100;
}

/* .nav:hover {
  width: 16rem;
  transition: all 0.5s ease-in-out;
} */

/* .nav.active {
  width: 16rem;
  transition: all 0.5s ease-in-out;
} */
/* .logo_container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  align-items: center;
 
} */

/* .li__container {
  margin-top: 1rem;
} */

/* .nav li {
  margin-bottom: 1.3rem;
 
} */

.link__icon svg {
  color: #000;
}

#logout_btn {
  border-radius: 1rem;
}

/* .nav li:last-child {
  position: absolute;
  bottom: 1rem;
  left: 1.8rem;
  transform: translateX(-4%);
  padding: 0.1rem 0rem;
  overflow: hidden;
} */

.nav li:last-child:active {
  background-color: var(--secondary);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  /* box-shadow: none; */
  transform: scale(0.98);
}

/* .nav li:last-child .link:hover,
.nav li:last-child .link:hover .link__icon svg {
  background: var(--primary-deep);
  color: #fff;
} */

.nav .link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem 0.8rem;
  color: white;
  font-size: 1.4rem;
}

.nav svg {
  height: 2.5rem;
  width: 2.5rem;
  margin-top: 0.5rem;
}

.nav .link:hover
/* ,
.nav .current  */ {
  /* color: #f3cafb; */
  cursor: pointer;
  background: var(--bg-color);
  color: var(--primary);
  /* width: 20rem; */
  /* transition: none; */
  border-radius: 1rem;
}

.nav .link:hover svg, .nav .link:hover .link_title
/* ,
.nav .current svg  */ {
  /* background: #fff; */
  color: var(--primary);
  padding-left: 0.1rem;
}

.current,
.nav .current {
  width: 20rem;
  border-radius: 1rem;
  background: var(--bg-color);
  color: var(--primary);
  transition: all 0.5s ease-in-out;
}

.nav .current svg {
  color: var(--primary);
}

@media (max-width: 1024px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 53%;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 52%;
  }

  .arrow {
    display: none;
  }

  .nav {
    background-color: var(--nav-bg);
    position: absolute;
    left: -60%;
    top: 0;
    bottom: 0;
    /* width: 8rem; */
    width: 18.8rem;
    height: 100vh;
    /* transition: all 0.5s ease-in-out; */
    /* z-index: 10; */
  }

  .nav ul {
    margin-top: 8rem;
  }

  .nav .link_title {
    /* padding-right: 1.5rem; */
    color: #fff;
    /* transition: all 0.5s ease-in-out; */
  }

  .link__icon svg {
    color: #fff;
  }

  /* .nav:hover {
    width: 18.8rem;
  } */

  .nav.active {
    left: 0%;
    /* transition: all 0.5s ease-in-out; */
  }

  .nav .link_title {
    display: block;
  }

  .logo {
    margin-top: 2.8rem;
  }

  /* .nav li:last-child {
    bottom: 0%;
  } */

  .current,
  .nav .current,
  .nav .link:hover,
  .nav li:last-child {
    /* border-left: 0.4rem solid #fff; */
    width: 13rem;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 50%;
  }

  /* .nav li:last-child {
    bottom: -6%;
  } */
}
