.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 102;
  /* background: rgba(0, 0, 0, 0.521);
  -webkit-backdrop-filter: blur(0.5rem) saturate(170%);
  backdrop-filter: blur(0.5rem) saturate(170%); */
  background: rgba(0, 0, 0, 0.473);
  -webkit-backdrop-filter: blur(0.2rem);
  backdrop-filter: blur(0.2rem);
  transition: all 0.5s ease-in-out;
  /* transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  max-width: 60rem;
  z-index: 103;
  overflow: auto;
  transition: all 0.5s ease-in-out;
  /* transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
}

.addUserModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  max-width: 60%;
  z-index: 103;
  overflow: auto;
  transition: all 0.5s ease-in-out;
}

.modal header,
.addUserModal header {
  background: var(--primary);
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal header .close_btn,
.addUserModal header .close_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.modal header .close_btn:hover,
.addUserModal header .close_btn:hover {
  background: var(--primary-deep);
  box-shadow: 0rem 0.2rem 1rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

header .close_btn svg {
  color: #d8d7d7;
}

header .close_btn:hover svg {
  color: #fff;
}

.form_control {
  position: relative;
}

.modal .content,
.addUserModal .content {
  padding: 1rem 2rem;
  /* text-align: center; */
  font-size: 1.6rem;
  position: relative;
}

/* .modal .content {
  
  overflow-y: scroll;
} */

.productModal {
  height: 85.5vh;
  overflow-y: scroll;
}

.addUserModal .content {
  height: 65vh;
}

.content .label {
  font-weight: 300;
}

.required_field {
  color: #ca0202;
  font-weight: 400;
  font-size: 1.5rem;
}

.form_control {
  position: relative;
}

/* select,
input,textarea
 {
  font-weight: 500;
  font-size: 1.5rem;
  display: block;
  width: 100%;
  background: var(--bg-color2);
  color: var(--text-color);
  border: 0.1rem solid var(--border-color);
  padding: 1.2rem 0.8rem;
  margin: 0 auto 1rem auto;
  border-radius: 0.5rem;
} */

.form_control input,
.form_control select {
  font-weight: 500;
  font-size: 1.5rem;
  display: block;
  width: 100%;
  border: 0.1rem solid var(--border-color);
  padding: 1.2rem 0.8rem;
  margin: 0 auto 1rem auto;
  border-radius: 1rem;
  background: var(--bg-color);
}

/* .select:user-invalid {
  outline: 1px solid red;
  outline-offset: -0.2rem;
} */

.form_control input:focus,
.form_control select:focus {
  border: 1px solid var(--primary);
}

.form_control label {
  font-size: 1.4rem;
  font-weight: 300;
  text-align: left;
}

/* input:-webkit-autofill {
  -webkit-text-fill-color: red;
  
  background-color: var(--bg-color);
} */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input:user-invalid,
.select:user-invalid {
  outline: 1px solid red;
  outline-offset: -0.2rem;
}

/* input:user-invalid,
select:user-invalid {
  box-shadow: 0 0 0.8rem red;
} */

/* ::picker(select) {
  background: var(--bg-color2);
  color: var(--text-color);
  border: 0.1rem solid #ccc;
  padding: 1.2rem 0.8rem;
 margin-bottom: 15rem;
 overflow-y: scroll;
  border-radius: 0.5rem;
  appearance: base-select;
  border-radius: 0.5rem;
} */

/* select,
input {
  width: 100%;
} */

select > option {
  border: none;
  border-radius: 0.5rem;
  background: var(--bg-color);
  margin: 0.2rem auto;
  padding: 0.4rem 0.8rem;
  color: var(--text-color);
}

select > option:hover {
  background: var(--primary);
  color: #fff;
}

select:focus {
  border: 0.1rem solid var(--primary);
}

option:checked {
  background: var(--primary);
  color: #fff !important;
}

select:invalid {
  color: #7e7e7e;
}

option:not(:invalid) {
  color: var(--text-color);
}

#select_option_placeholder {
  color: #7e7e7e;
  /* color: var(--text-color); */
  background: var(--bg-color);
}

option {
  color: var(--text-color);
  background: var(--bg-color);
}

/* .modal  */
.content p {
  color: #020202;
}

/* .modal  */
.btn_container {
  margin: 1rem 0 1.5rem 0;
  display: flex;
  justify-content: space-around;
  /* gap: 2rem; */
  align-items: center;
}

/* .modal .btn, #btn__no {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .modal  */
.btn {
  padding: 0.8rem 2.5rem;
  transition: all 0.3s ease-in-out;
}

/* .modal  */
.btn svg {
  transition: all 0.3s ease-in-out;
}

#btn__no {
  /* background: #ca0202; */
  background: transparent;
  border: 0.22rem solid var(--primary);
  color: var(--primary);
  font-weight: bolder;
  transition: all 0.3s ease-in-out;
  /* outline:  #ffffff4d; */
  /* border: 3px solid #ffffff4d; */
}

#btn__no svg {
  color: var(--primary);
  transition: all 0.3s ease-in-out;
}

#btn__no:hover {
  /* background: #ff0000; */
  background: var(--hover-color);
  transition: all 0.3s ease-in-out;
}

.delete_btn {
  position: absolute;
  top: 2.65rem;
  right: 0.2rem;
  /* right: 14.68rem;
  top: 15.64rem; */
  background: #ca0202;
  padding: 0.7rem 1.5rem;
  /* height: 2rem; */
}

.delete_btn:hover {
  background: #e70202;
}

/* .modal  */
.btn:hover svg,
#btn__no:hover svg {
  transition: all 0.3s ease-in-out;
  transform: translate(-0.4rem);
}

.btn_container {
  margin-top: 2.5rem;
}

.btn_container .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.image_container {
  margin-top: 1rem;
  position: relative;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 1rem;
  border: 0.1rem solid var(--border-color);
  background: var(--bg-color);
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.192);
  display: flex;
  overflow: hidden;
  /* margin-bottom: -1.5rem; */
}

.image_container svg {
  position: absolute;
  width: 10rem;
  height: 10rem;
  top: 0rem;
  left: 0rem;
  z-index: 1;
  display: block;
  color: #fff;
}

.image_container .img {
  z-index: 5;
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
}

#img_input {
  color: var(--text-color);
  background-color: var(--bg-color);
  border: 0.1rem solid var(--border-color);
}

@media (max-width: 1024px) {
  html {
    font-size: 55%;
  }

  /* .productModal {
    height: 62vh;
  } */
}

@media (max-width: 992px) {
  html {
    font-size: 53%;
  }

  .addUserModal {
    width: 95%;
    max-width: 98%;
  }

  .addUserModal .content {
    height: 45vh;
  }

  .productModal {
    height: 72vh;
  }

  .modal .content,
  .addUserModal .content {
    overflow-y: scroll;
  }
}

@media (max-width: 750px) {
  html {
    font-size: 52%;
  }

  .addUserModal {
    width: 95%;
    max-width: 98%;
  }

  .addUserModal .content {
    height: 65vh;
  }

  /* .productModal {
    height: 65vh;
  } */

  /* .delete_btn {
    right: 4.2rem;
  } */
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 414px) {
  html {
    font-size: 48%;
  }
}

@media (max-width: 314px) {
  html {
    font-size: 48%;
  }
}
