:root {
  --primary: #0c007c;
  --secondary: #007aba;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 102;
  background: rgba(0, 0, 0, 0.521);
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
  transition: all 0.5s ease-in-out;
  /* animation: bounce 0.3s cubic-bezier(0.4, 0, 0.2, 1); */
}

.modal {
  position: fixed;
  top: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-color);
  box-shadow: 0rem 0.2rem 1rem rgba(0, 0, 0, 0.25);
  border: 0.01rem solid var(--text-color);
  width: 85%;
  max-width: 45rem;
  z-index: 105;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  /* animation: bounce 0.3s cubic-bezier(0.4, 0, 0.2, 1); */
  /* animation-delay: 0.2s; */
}

/* Animation */
/* @keyframes bounce {
  0%,
  100% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
} */

.modal header {
  background: var(--primary);
  color: #fff;
  padding: 1rem 1.8rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.modal .content {
  padding: 1rem 1.8rem;
  text-align: center;
  font-size: 1.6rem;
}

.modal .content p {
  color: var(--text-color);
}

.modal .content svg {
  color: orange;
  width: 8rem;
  height: 8rem;
}

.modal .btn_container {
  margin: 1rem 0 1.8rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

/* .modal .btn {
  padding: 1.2rem 3rem;
} */

/* .modal .btn:hover {
  border: 0.2rem solid var(--secondary);
  background: var(--secondary);
} */

#btn__no {
  /* background: #e6e6e6;
  border: 0.1rem solid var(--primary);
  color: var(--primary);
  font-weight: bolder; */

  background: transparent;
  /* border: 0.1rem solid var(--primary); */
  color: var(--primary);
  font-weight: bolder;
  border: 0.3rem solid var(--primary);
}

#btn__no:hover {
  background: var(--hover-color);
}

@media (max-width: 750px) {
  html {
    font-size: 52%;
  }

  .modal {
    max-width: 35rem;
  }
}
