.main__container {
  height: 100vh;
  background-image: url("../../../assets/images/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.input {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bottom: 50%; */
  transform: translate(-50%, -50%);
  /* margin: 2rem auto; */
  padding: 3rem 6rem;
  width: 80%;
  max-width: 50.5rem;
 background: rgba(255, 255, 255, 0.322);
  -webkit-backdrop-filter: blur(2.5rem) saturate(170%);
  backdrop-filter: blur(2.5rem) saturate(170%);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  border: 0.1rem solid var(--border-color);
  border-radius: 3rem;
}



.title {
  color: #fff;
  font-size: 1.8rem;
  font-weight: bolder;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 8rem;
}

.sub__title {
  font-size: 1.5rem;
  font-weight: 800;
}

.input form {
  position: relative;
}

.input label {
  display: block;
  font-size: 1.4rem;
  color: #0c0c0c;
  top: 30%;
  left: 6.5rem;
  transition: top 0.2s linear;
  position: absolute;
  background: transparent;
}

.input option:empty {
  color: #ccc;
}

.input input,
.input select {
  font-weight: 500;
  font-size: 1.3rem;
  display: block;
  /* background: #fff; */
  border: none;
  width: 100%;
  height: 5.1rem;
  /* border: 0.1rem solid #fff; */
  color: #000;
  padding: 2rem 1.8rem 1.6rem 6.5rem;
  margin: 0.8rem auto 2.8rem auto;
  border-radius: 5rem;
  background: #eee;
  /* background: rgba(255, 255, 255, 0.26);
  -webkit-backdrop-filter: blur(5rem);
  backdrop-filter: blur(5rem); */
}

input.error {
  border: 0.2rem solid red;
}

/* input.success {
  border: 0.2rem solid green;
} */

/* .input input::placeholder{
  color: #000;
} */

@keyframes glow {
  0% {
    box-shadow: 0 0 0.5rem #fff;
  }
  50% {
    box-shadow: 0 0 1rem #fff;
  }
  100% {
    box-shadow: 0 0 0.5rem #fff;
  }
}

.input input:focus {
  border: 0.1rem solid var(--primary);
  /* box-shadow: 0 0 1rem #fff; */
  /* border-color: #fff; */
  /* animation: glow 1.5s infinite ease-in-out; */
}

/* select #role_placeholder {
  color: #dbdbdb;
} */

/* select:invalid {
  color: #dbdbdb;
} */

.input input:focus ~ label,
.input input:not(:placeholder-shown) ~ label,
.input select:focus ~ label,
.input select:not(:placeholder-shown) ~ label {
  top: 0.1rem;
  left: 6.5rem;
  background: transparent;
  color: #0c0c0c;
  padding: 0 0.2rem;
  font-size: 1.1rem;
  transition: top 0.2s linear;
}

.input .form_control {
  position: relative;
}

.icon {
  position: absolute;
  top: 0.5rem;
  left: 0.6rem;
  /* bottom: 0.1rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background: #fff;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  /* border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem; */
  /* padding: 1.4rem ; */
}

.icon svg {
  color: #0c0c0c;
  width: 2rem;
  height: 2rem;
}

.password__icon svg {
  position: absolute;
  top: 1.4rem;
  right: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  color: #242424;
}

.password__icon svg:hover {
  cursor: pointer;
  color: #0c0c0c;
}

.forgot_password {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0c0c0c;
  bottom: 1rem;
  /* text-decoration: underline; */
  font-size: 1.4rem;
  /* margin-bottom: 1rem; */
  margin-top: 1rem;
}

.forgot_password p:hover {
  cursor: pointer;
  text-decoration: underline;
  /* color: var(--secondary); */
}

.btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_container .login_btn {
  padding: 1.8rem auto;
  font-size: 1.5rem;
  width: 100%;
  gap: 0.2rem;
  border-radius: 5rem;
  max-width: 50.5rem;
}

.bottom__text {
  margin-top: 2rem;
}

.bottom__text ul {
  font-size: 1.5rem;
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 0.5rem;
}

footer p {
  color: #0c0c0c;
  font-size: 1.3rem;
  text-align: center;
  margin: 2rem 0 -2rem 0;
}

/* .bottom__text ul .link {
  color: #045e2b;
  text-decoration: underline;
}

.bottom__text ul .link:hover {
  cursor: pointer;
  color: #0c007c;
}

.bottom__text ul .link:active {
  color: yellow;
} */

@media (max-width: 750px) {
  html {
    font-size: 52%;
  }

  .input {
    padding: 2.5rem 2rem;
    width: 70%;
    /* width: 80%;
		max-width: 50.5rem; */
  }

  .main__container {
    background-position: left;
  }

  .update__btn {
    left: 75%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .input {
    padding: 2.5rem 2rem;
    width: 90%;
    /* width: 80%;
		max-width: 50.5rem; */
  }

  .update__btn {
    left: 70%;
  }
}

/* .buttom_text {
  
  font-size: 1.4rem;
  margin-top: 2rem;
  
}

.buttom_text span {
  color: #045e2b;
  text-decoration: underline;
  cursor: pointer;
}

.buttom_text span:active {
  color: yellow;
} */
