.footer {
  font-size: 1.4rem;
  color: #fff;
  padding: 0.2rem 0;
  text-align: center;
}

/* .span_container {
 
 
  
} */

.footer .span_1 {
  font-weight: 600;
  color: var(--primary);
  background: #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 0.8rem;
}

.footer .span_2 {
  font-weight: 600;
  /* color: #fff; */
}
