#root {
  max-width: 128rem;
  margin: 0 auto;
  padding: 2rem 2%;

}





@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}




