.input_container {
  position: relative;
  width: 100%;
}

.input_container input {
  font-weight: 500;
  font-size: 1.5rem;
  display: block;
  width: 100%;
  border: 0.1rem solid var(--border-color);
  padding: 1.2rem 0.8rem;
  margin: 0 auto 1rem auto;
  border-radius: 1rem;
  background: var(--bg-color);
}

.password__icon svg {
  position: absolute;
  top: 0.9rem;
  right: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--primary);
}

.password__icon svg:hover {
  cursor: pointer;
  color: var(--primary-deep);
}
